*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body
{
    width: 100%;
    background-color: #eaeded;
    box-sizing: border-box;
}

.first
{
    width: 100%;
    height: 70px;
    background-color: #131a22;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first img
{
    /* background-image: url(./amazon_logo.png); */
    width: 100%;
    height: 60px;
    /* background-size: cover; */
    /* margin: 0 10px; */
    /* padding: 5px 10px; */
    border: 1px solid transparent;
    border-radius: 3px;

}

.first
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex
{
    display: flex;
    justify-content: center;
}

.flex span,i
{
    color: white;
}

.logo
{
    flex: 0.18;
    /* margin-right: 10px; */
    justify-content: space-evenly;
    /* padding: 1px; */
}

.map
{
    border: 1px solid transparent;
    border-radius: 3px;
    /* padding: 5px; */
}

.map i
{
    margin-top: 27px;
    padding-left: 5px;
    font-size: 17px;
}

.map div
{
    margin-top: 5px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.map div span:first-child
{
    font-weight: 400;
    font-size: 13px;
}

.map div span
{
    font-weight: bold;
}

.right
{
    justify-content: space-between;
    flex: 0.29;
    margin-right: 10px;
    align-items: center;
}

.input
{
    width: 100%;
    background-color: white;
    flex: 0.53;
    border-radius: 5px;
    display: flex;
    margin: 0 10px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.input input
{
    outline: none;
    width: 88%;
    font-size: 16px;
    padding: 10px 2px;
    border: none;
}

.input .fa-search
{
    color: rgb(51, 51, 51);
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #febd69;
    border-radius: 0 5px 5px 0;
}

.input div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid gray;
    background-color: rgb(236, 234, 234);
    padding: 6px 0;
}

.input div span
{
    border-radius: 5px 0 0 5px;
    color: rgb(51, 51, 51);
    padding: 6px 5px;
    font-size: 13px;
    cursor: pointer;
}

.input .fa-caret-down
{
    color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 5px;
}

.lang i
{
    padding: 0;
    margin: 0;
    color: gray;
    font-size: 12px;
    padding-bottom: 3px;
}

.lang
{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid transparent;
    border-radius: 3px;
}

.lang p
{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px;
    margin-right: 3px;
}

.right img
{
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0;
    padding-top: 10px;
    cursor: pointer;
}

.sign
{
    display: flex;
    flex-direction: column;
    /* padding: 3px 6px; */
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.sign span:first-child
{
    font-weight: 400;
    font-size: 13px;
}

.sign span
{
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.flex .ac span
{
    font-size: 15px;
    margin-right: 5px;
}

.fa-shopping-cart
{
    font-size: 45px;
}

.ca
{
    font-size: 14px;
    font-weight: bold;
}

.cart
{
    align-items: flex-end;
    position: relative;
    padding: 5px 10px;
    /* padding: 12px; */
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.cart p
{
    position: absolute;
    /* font-size: 20px; */
    font-weight: bolder;
    color: #131a22;
    top: 15px;
    left: 42px;
}

.cart:hover
{
    border: 1px solid white;
    border-radius: 3px;
}

.logo img:hover
{
    border: 1px solid white;
    border-radius: 3px;
}

.map:hover
{
    border: 1px solid white;
    border-radius: 3px;
}

.lang:hover
{
    border: 1px solid white;
    border-radius: 3px;
}

.sign:hover
{
    border: 1px solid white;
    border-radius: 3px;
}

.input .fa-search:hover
{
    border-color: #fdae46;
}

.input div:hover
{
    border-color: rgb(204, 202, 202);
    color: black;
}

.second
{
    width: 100%;
    height: 42px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
}

.second ul
{
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.second span
{
    font-size: 15px;
}

.second-1 div i
{
    font-size: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.second li
{
    padding: 5px 10px;
    font-size: 15px;
    margin: 7px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.second-1
{
    flex: 0.06;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-1 div
{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.second-2
{
    display: flex;
    flex: 0.74;
    justify-content: flex-start;
}

.second-3
{
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    overflow: hidden;
}

.second-3 span
{
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

.second-1 div span
{
    padding: 5px;
    cursor: pointer;
}

.second-1 div:hover
{
    border: 1px solid white;
}

.second-2 li:hover
{
    border: 1px solid white;
}

.second-3 span:hover
{
    border: 1px solid white;
}

